name: Build & Deploy Next.js Docker App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t nextjs-app:latest .

      - name: Stop and remove old container if exists
        run: |
          docker stop nextjs-container || true
          docker rm nextjs-container || true

      - name: Run new container
        run: |
          docker run -d -p 3003:3003 --name nextjs-container2 nextjs-image:v2
